<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.winded.passu">

    <application
        android:name=".PassuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewFileActivity"
            android:label="@string/title_activity_new_file" />
        <activity
            android:name=".NewEntryActivity"
            android:label="@string/title_activity_new_entry" />
        <activity android:name=".ViewEntryActivity" />
        <activity android:name=".EditEntryActivity" />
        <activity
            android:name=".DefaultPolicyActivity"
            android:label="@string/view_default_policy" />
        <activity
            android:name=".ListEntriesActivity"
            android:label="@string/title_activity_list_entries" />
        <activity android:name=".OpenFileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>